@import "../../../../theme/theme-variables.scss";

$inc-btn-disabled-bg: #acacb1;
$inc-btn-size: 38px;

input {
  font-weight: inherit;
}

.product-count {

  button {
    background-color: $primary;
    color: $primary-invert;
    cursor: pointer;
    border-radius: 50%;
    height: $inc-btn-size;
    width: $inc-btn-size;

    &:disabled {
      background-color: $inc-btn-disabled-bg;
      cursor: not-allowed;
    }
  }
}
