$large-font: 36px;
$large-x-font: 24px;
$big-font: 18px;
$medium-font: 16px;
$small-font: 14px;

$default-transition: .5s cubic-bezier(0.23, 1, 0.320, 1);

$background: #FFFFFF;
$foreground: #000000;
$primary: #9b6f4c;
$primary-invert: #FFF;
$primary-x: #372921;
$primary-x-invert: #FFF;
$small-font-color: #4e4e4e;
$list-separator: #f2f2f2;
$item-hover: #fafdff;

@mixin transition($transition) {
  transition: $transition;
}

@mixin transition-property($property) {
  transition-property: $property;
}

@mixin transition-duration($duration) {
  transition-property: $duration;
}

@mixin transition-timing-function($timing) {
  transition-timing-function: $timing;
}

@mixin transition-delay($delay) {
  transition-delay: $delay;
}
